<!-- views/layouts/main.handlebars -->
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Herbal Tea</title>
</head>
<body>
 <a href="/nambas/new" class="btn btn-primary navbar-btn">New Post</a>

  {{{body}}}

</body>
</html>