<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <form action="/nambas/new" method="post">
      <legend>New Story</legend>
      <div class="form-group">
        <label for="post-title">Title</label>
        <input type="text" name="title" class="form-control" id="namba-title" placeholder="Title">
      </div>
      <div class="form-group">
        <label for="post-url">Url</label>
        <input type="url" name="url" class="form-control" id="namba-url" placeholder="https://www.google.com">
      </div>
      <div class="form-group">
        <label for="post-content">Content</label>
        <textarea name="content" class="form-control" id="namba-content" placeholder="Content"></textarea>
      </div>
      <div class="form-group">
              <label for="post-subnamba">Subnamba</label>
              <input name="subnamba" type="text" class="form-control" id="post-subnamba" placeholder="Subnamba">
      </div>
      <div class='text-right'>
        <button type="submit" class="btn btn-primary">Create Namba</button>
      </div>
    </form>
  </div>
</div>